USE [master]
GO
/****** Object:  Database [MovieTicketDB]    Script Date: 02/01/2026 8:03:25 CH ******/
CREATE DATABASE [MovieTicketDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MovieTicketDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MovieTicketDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MovieTicketDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MovieTicketDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MovieTicketDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MovieTicketDB]
GO
/****** Object:  Table [dbo].[GIFT_CAMPAIGNS]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIFT_CAMPAIGNS](
	[CampaignID] [int] IDENTITY(1,1) NOT NULL,
	[CampaignName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[GiftName] [nvarchar](100) NOT NULL,
	[MovieID] [int] NULL,
	[TotalGifts] [int] NOT NULL,
	[RemainingGifts] [int] NOT NULL,
	[HoldingGifts] [int] NULL,
	[MaxPerUser] [int] NULL,
	[HoldTimeoutMinutes] [int] NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CampaignID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIFT_RESERVATIONS]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIFT_RESERVATIONS](
	[ReservationID] [int] IDENTITY(1,1) NOT NULL,
	[CampaignID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[BookingID] [int] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[HoldUntil] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
	[ConfirmedAt] [datetime] NULL,
	[ReceivedAt] [datetime] NULL,
	[ReceivedByStaffID] [int] NULL,
	[CancelledAt] [datetime] NULL,
	[CancelReason] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIES]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIES](
	[MovieID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Duration] [int] NOT NULL,
	[Director] [nvarchar](100) NULL,
	[Actors] [nvarchar](500) NULL,
	[ReleaseDate] [date] NULL,
	[PosterURL] [nvarchar](500) NULL,
	[TrailerURL] [nvarchar](500) NULL,
	[Country] [nvarchar](100) NULL,
	[AgeRating] [int] NULL,
	[IsActive] [bit] NULL,
	[IsTrending] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_GiftCampaignStats]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_GiftCampaignStats] AS
SELECT 
    gc.CampaignID,
    gc.CampaignName,
    gc.GiftName,
    m.Title AS MovieTitle,
    gc.TotalGifts,
    gc.RemainingGifts,
    gc.HoldingGifts,
    (gc.TotalGifts - gc.RemainingGifts - gc.HoldingGifts) AS ConfirmedGifts,
    (SELECT COUNT(*) FROM GIFT_RESERVATIONS WHERE CampaignID = gc.CampaignID AND Status = 'Received') AS ReceivedGifts,
    (SELECT COUNT(*) FROM GIFT_RESERVATIONS WHERE CampaignID = gc.CampaignID AND Status = 'Expired') AS ExpiredCount,
    (SELECT COUNT(*) FROM GIFT_RESERVATIONS WHERE CampaignID = gc.CampaignID AND Status = 'Cancelled') AS CancelledCount,
    gc.StartDate,
    gc.EndDate,
    gc.IsActive,
    CASE 
        WHEN gc.IsActive = 0 THEN N'Tạm dừng'
        WHEN GETDATE() < gc.StartDate THEN N'Chưa bắt đầu'
        WHEN GETDATE() > gc.EndDate THEN N'Đã kết thúc'
        WHEN gc.RemainingGifts <= 0 THEN N'Hết quà'
        ELSE N'Đang diễn ra'
    END AS StatusText
FROM GIFT_CAMPAIGNS gc
LEFT JOIN MOVIES m ON gc.MovieID = m.MovieID

GO
/****** Object:  Table [dbo].[BOOKING_DETAILS]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING_DETAILS](
	[BookingDetailID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[SeatID] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING_FOODS]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING_FOODS](
	[BookingFoodID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[FoodID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingFoodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKINGS]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKINGS](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[BookingCode] [nvarchar](20) NOT NULL,
	[UserID] [int] NOT NULL,
	[ShowtimeID] [int] NOT NULL,
	[PromotionID] [int] NULL,
	[BookingTime] [datetime] NULL,
	[TotalAmount] [decimal](12, 2) NOT NULL,
	[Discount] [decimal](12, 2) NULL,
	[FinalAmount] [decimal](12, 2) NOT NULL,
	[BookingStatus] [nvarchar](20) NULL,
	[QRCode] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[IsUsed] [bit] NULL,
	[UsedAt] [datetime] NULL,
	[IsResold] [bit] NULL,
	[ReminderSent] [bit] NULL,
	[HasGift] [bit] NULL,
	[GiftReservationID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FOOD_CATEGORIES]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOOD_CATEGORIES](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FOODS]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOODS](
	[FoodID] [int] IDENTITY(1,1) NOT NULL,
	[FoodName] [nvarchar](100) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[ImageURL] [nvarchar](500) NULL,
	[Description] [nvarchar](255) NULL,
	[StockQuantity] [int] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENRES]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENRES](
	[GenreID] [int] IDENTITY(1,1) NOT NULL,
	[GenreName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICES]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICES](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceCode] [nvarchar](20) NOT NULL,
	[BookingID] [int] NOT NULL,
	[TicketAmount] [decimal](12, 2) NOT NULL,
	[FoodAmount] [decimal](12, 2) NULL,
	[SubTotal] [decimal](12, 2) NOT NULL,
	[DiscountAmount] [decimal](12, 2) NULL,
	[TaxAmount] [decimal](12, 2) NULL,
	[FinalAmount] [decimal](12, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[PaymentStatus] [nvarchar](20) NULL,
	[StaffID] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[Notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEMBERSHIP_TYPES]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMBERSHIP_TYPES](
	[MembershipTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[DiscountPercent] [decimal](5, 2) NULL,
	[PointsRequired] [int] NULL,
	[Benefits] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MembershipTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEMBERSHIPS]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMBERSHIPS](
	[MembershipID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[MembershipTypeID] [int] NOT NULL,
	[Points] [int] NULL,
	[JoinDate] [datetime] NULL,
	[ExpiryDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MembershipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIE_GENRES]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIE_GENRES](
	[MovieID] [int] NOT NULL,
	[GenreID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC,
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POINT_TRANSACTIONS]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POINT_TRANSACTIONS](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[MembershipID] [int] NOT NULL,
	[Points] [int] NOT NULL,
	[TransactionType] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[TransactionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROMOTIONS]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROMOTIONS](
	[PromotionID] [int] IDENTITY(1,1) NOT NULL,
	[PromotionCode] [nvarchar](50) NOT NULL,
	[PromotionName] [nvarchar](100) NOT NULL,
	[DiscountType] [nvarchar](20) NOT NULL,
	[DiscountValue] [decimal](10, 2) NOT NULL,
	[MinOrderAmount] [decimal](10, 2) NULL,
	[MaxDiscountAmount] [decimal](10, 2) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Quantity] [int] NULL,
	[UsedCount] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PromotionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROOMS]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOMS](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomName] [nvarchar](50) NOT NULL,
	[TotalSeats] [int] NOT NULL,
	[RoomType] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEAT_TYPES]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEAT_TYPES](
	[SeatTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[PriceMultiplier] [decimal](3, 2) NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEATS]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEATS](
	[SeatID] [int] IDENTITY(1,1) NOT NULL,
	[RoomID] [int] NOT NULL,
	[RowLabel] [nvarchar](5) NOT NULL,
	[SeatNumber] [int] NOT NULL,
	[SeatTypeID] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[CoupleGroupID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHOWTIMES]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOWTIMES](
	[ShowtimeID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[BasePrice] [decimal](10, 2) NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShowtimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TICKET_RESALES]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET_RESALES](
	[ResaleID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[SellerUserID] [int] NOT NULL,
	[OriginalPrice] [decimal](12, 2) NOT NULL,
	[RefundPercent] [decimal](5, 2) NOT NULL,
	[RefundAmount] [decimal](12, 2) NOT NULL,
	[ResalePrice] [decimal](12, 2) NOT NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[ExpiredAt] [datetime] NOT NULL,
	[BuyerUserID] [int] NULL,
	[NewBookingID] [int] NULL,
	[SoldAt] [datetime] NULL,
	[RefundMethod] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ResaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_WALLET]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_WALLET](
	[WalletID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Balance] [decimal](12, 2) NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[WalletID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Salt] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[Address] [nvarchar](255) NULL,
	[RoleID] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WALLET_TRANSACTIONS]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WALLET_TRANSACTIONS](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[WalletID] [int] NOT NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[TransactionType] [nvarchar](30) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[ReferenceID] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BOOKING_DETAILS] ON 

INSERT [dbo].[BOOKING_DETAILS] ([BookingDetailID], [BookingID], [SeatID], [Price]) VALUES (1, 6, 22, CAST(85000.00 AS Decimal(10, 2)))
INSERT [dbo].[BOOKING_DETAILS] ([BookingDetailID], [BookingID], [SeatID], [Price]) VALUES (2, 6, 21, CAST(85000.00 AS Decimal(10, 2)))
INSERT [dbo].[BOOKING_DETAILS] ([BookingDetailID], [BookingID], [SeatID], [Price]) VALUES (3, 6, 33, CAST(85000.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[BOOKING_DETAILS] OFF
GO
SET IDENTITY_INSERT [dbo].[BOOKING_FOODS] ON 

INSERT [dbo].[BOOKING_FOODS] ([BookingFoodID], [BookingID], [FoodID], [Quantity], [UnitPrice], [TotalPrice]) VALUES (1, 11, 13, 1, CAST(75000.00 AS Decimal(10, 2)), CAST(75000.00 AS Decimal(10, 2)))
INSERT [dbo].[BOOKING_FOODS] ([BookingFoodID], [BookingID], [FoodID], [Quantity], [UnitPrice], [TotalPrice]) VALUES (2, 12, 10, 1, CAST(50000.00 AS Decimal(10, 2)), CAST(50000.00 AS Decimal(10, 2)))
INSERT [dbo].[BOOKING_FOODS] ([BookingFoodID], [BookingID], [FoodID], [Quantity], [UnitPrice], [TotalPrice]) VALUES (3, 12, 14, 1, CAST(150000.00 AS Decimal(10, 2)), CAST(150000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[BOOKING_FOODS] OFF
GO
SET IDENTITY_INSERT [dbo].[BOOKINGS] ON 

SET IDENTITY_INSERT [dbo].[BOOKINGS] OFF
GO
SET IDENTITY_INSERT [dbo].[FOOD_CATEGORIES] ON 

INSERT [dbo].[FOOD_CATEGORIES] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Nước ngọt', N'Các loại nước ngọt có ga')
INSERT [dbo].[FOOD_CATEGORIES] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'Bắp rang', N'Bắp rang bơ các loại')
INSERT [dbo].[FOOD_CATEGORIES] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Snack', N'Đồ ăn vặt')
SET IDENTITY_INSERT [dbo].[FOOD_CATEGORIES] OFF
GO
SET IDENTITY_INSERT [dbo].[FOODS] ON 

INSERT [dbo].[FOODS] ([FoodID], [FoodName], [CategoryID], [Price], [ImageURL], [Description], [StockQuantity], [IsActive]) VALUES (1, N'Pepsi Size M', 1, CAST(25000.00 AS Decimal(10, 2)), NULL, N'Pepsi lon 330ml', 100, 1)
INSERT [dbo].[FOODS] ([FoodID], [FoodName], [CategoryID], [Price], [ImageURL], [Description], [StockQuantity], [IsActive]) VALUES (2, N'Pepsi Size L', 1, CAST(35000.00 AS Decimal(10, 2)), NULL, N'Pepsi ly lớn 500ml', 100, 1)
INSERT [dbo].[FOODS] ([FoodID], [FoodName], [CategoryID], [Price], [ImageURL], [Description], [StockQuantity], [IsActive]) VALUES (3, N'Coca Cola Size M', 1, CAST(25000.00 AS Decimal(10, 2)), NULL, N'Coca Cola lon 330ml', 100, 1)
SET IDENTITY_INSERT [dbo].[FOODS] OFF
GO
SET IDENTITY_INSERT [dbo].[GENRES] ON 

INSERT [dbo].[GENRES] ([GenreID], [GenreName], [Description]) VALUES (1, N'Hành động', N'Phim hành động, võ thuật, đánh nhau')
INSERT [dbo].[GENRES] ([GenreID], [GenreName], [Description]) VALUES (2, N'Kinh dị', N'Phim kinh dị, rùng rợn')
INSERT [dbo].[GENRES] ([GenreID], [GenreName], [Description]) VALUES (3, N'Hài hước', N'Phim hài, giải trí')
SET IDENTITY_INSERT [dbo].[GENRES] OFF
GO
SET IDENTITY_INSERT [dbo].[GIFT_CAMPAIGNS] ON 

INSERT [dbo].[GIFT_CAMPAIGNS] ([CampaignID], [CampaignName], [Description], [GiftName], [MovieID], [TotalGifts], [RemainingGifts], [HoldingGifts], [MaxPerUser], [HoldTimeoutMinutes], [StartDate], [EndDate], [IsActive], [CreatedAt], [CreatedBy]) VALUES (1, N'Quà tặng khai trương', N'Mua vé xem phim nhận ngay poster phim độc quyền', N'Poster phim', NULL, 100, 98, 0, 1, 10, CAST(N'2026-01-02T14:02:58.013' AS DateTime), CAST(N'2026-02-02T14:02:58.013' AS DateTime), 1, CAST(N'2026-01-02T14:02:58.013' AS DateTime), NULL)
INSERT [dbo].[GIFT_CAMPAIGNS] ([CampaignID], [CampaignName], [Description], [GiftName], [MovieID], [TotalGifts], [RemainingGifts], [HoldingGifts], [MaxPerUser], [HoldTimeoutMinutes], [StartDate], [EndDate], [IsActive], [CreatedAt], [CreatedBy]) VALUES (2, N'Quà tặng VIP Members', N'Dành riêng cho thành viên VIP - Móc khóa phim giới hạn', N'Móc khóa giới hạn', NULL, 50, 50, 0, 2, 15, CAST(N'2026-01-02T14:02:58.013' AS DateTime), CAST(N'2026-03-02T14:02:58.013' AS DateTime), 1, CAST(N'2026-01-02T14:02:58.013' AS DateTime), NULL)
INSERT [dbo].[GIFT_CAMPAIGNS] ([CampaignID], [CampaignName], [Description], [GiftName], [MovieID], [TotalGifts], [RemainingGifts], [HoldingGifts], [MaxPerUser], [HoldTimeoutMinutes], [StartDate], [EndDate], [IsActive], [CreatedAt], [CreatedBy]) VALUES (3, N'Ở đâu có sự sống ở đó có hentaiz', N'Chào mừng các bạn đến với BlackKingdom', N'Mèo đen (Haitenz)', 5, 25, 25, 0, 1, 10, CAST(N'2026-01-02T15:00:51.267' AS DateTime), CAST(N'2026-02-02T15:00:51.267' AS DateTime), 1, CAST(N'2026-01-02T15:02:10.613' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[GIFT_CAMPAIGNS] OFF
GO
SET IDENTITY_INSERT [dbo].[GIFT_RESERVATIONS] ON 

INSERT [dbo].[GIFT_RESERVATIONS] ([ReservationID], [CampaignID], [UserID], [BookingID], [Status], [HoldUntil], [CreatedAt], [ConfirmedAt], [ReceivedAt], [ReceivedByStaffID], [CancelledAt], [CancelReason]) VALUES (1, 1, 6, 34, N'Confirmed', NULL, CAST(N'2026-01-02T18:13:03.593' AS DateTime), CAST(N'2026-01-02T18:13:31.060' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[GIFT_RESERVATIONS] ([ReservationID], [CampaignID], [UserID], [BookingID], [Status], [HoldUntil], [CreatedAt], [ConfirmedAt], [ReceivedAt], [ReceivedByStaffID], [CancelledAt], [CancelReason]) VALUES (2, 1, 10, 35, N'Received', NULL, CAST(N'2026-01-02T19:47:44.423' AS DateTime), CAST(N'2026-01-02T19:48:13.040' AS DateTime), CAST(N'2026-01-02T19:49:17.397' AS DateTime), 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[GIFT_RESERVATIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[MEMBERSHIP_TYPES] ON 

INSERT [dbo].[MEMBERSHIP_TYPES] ([MembershipTypeID], [TypeName], [DiscountPercent], [PointsRequired], [Benefits]) VALUES (1, N'Thành viên', CAST(0.00 AS Decimal(5, 2)), 0, N'Tích điểm khi mua vé')
INSERT [dbo].[MEMBERSHIP_TYPES] ([MembershipTypeID], [TypeName], [DiscountPercent], [PointsRequired], [Benefits]) VALUES (2, N'Bạc', CAST(5.00 AS Decimal(5, 2)), 1000, N'Giảm 5% giá vé, tích điểm x1.2')
INSERT [dbo].[MEMBERSHIP_TYPES] ([MembershipTypeID], [TypeName], [DiscountPercent], [PointsRequired], [Benefits]) VALUES (3, N'Vàng', CAST(10.00 AS Decimal(5, 2)), 5000, N'Giảm 10% giá vé, tích điểm x1.5, ưu tiên đặt ghế')
SET IDENTITY_INSERT [dbo].[MEMBERSHIP_TYPES] OFF
GO
SET IDENTITY_INSERT [dbo].[MEMBERSHIPS] ON 

INSERT [dbo].[MEMBERSHIPS] ([MembershipID], [UserID], [MembershipTypeID], [Points], [JoinDate], [ExpiryDate], [IsActive]) VALUES (1, 6, 1, 490, CAST(N'2025-12-21T11:20:30.650' AS DateTime), NULL, 1)
INSERT [dbo].[MEMBERSHIPS] ([MembershipID], [UserID], [MembershipTypeID], [Points], [JoinDate], [ExpiryDate], [IsActive]) VALUES (2, 9, 1, 0, CAST(N'2025-12-26T14:04:12.450' AS DateTime), NULL, 1)
INSERT [dbo].[MEMBERSHIPS] ([MembershipID], [UserID], [MembershipTypeID], [Points], [JoinDate], [ExpiryDate], [IsActive]) VALUES (3, 10, 1, 190, CAST(N'2026-01-01T04:02:22.203' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[MEMBERSHIPS] OFF
GO
INSERT [dbo].[MOVIE_GENRES] ([MovieID], [GenreID]) VALUES (1, 1)
INSERT [dbo].[MOVIE_GENRES] ([MovieID], [GenreID]) VALUES (1, 6)
INSERT [dbo].[MOVIE_GENRES] ([MovieID], [GenreID]) VALUES (1, 7)
GO
SET IDENTITY_INSERT [dbo].[MOVIES] ON 

INSERT [dbo].[MOVIES] ([MovieID], [Title], [Description], [Duration], [Director], [Actors], [ReleaseDate], [PosterURL], [TrailerURL], [Country], [AgeRating], [IsActive], [IsTrending], [CreatedAt]) VALUES (1, N'Avengers: Endgame', N'Các siêu anh hùng hợp sức đánh bại Thanos', 181, N'Anthony Russo, Joe Russo', N'Robert Downey Jr., Chris Evans, Scarlett Johansson', CAST(N'2019-04-26' AS Date), NULL, NULL, N'Mỹ', 13, 1, 1, CAST(N'2025-12-09T14:48:12.917' AS DateTime))
INSERT [dbo].[MOVIES] ([MovieID], [Title], [Description], [Duration], [Director], [Actors], [ReleaseDate], [PosterURL], [TrailerURL], [Country], [AgeRating], [IsActive], [IsTrending], [CreatedAt]) VALUES (2, N'Joker', N'Câu chuyện về nguồn gốc của tên hề tội phạm', 122, N'Todd Phillips', N'Joaquin Phoenix, Robert De Niro', CAST(N'2019-10-04' AS Date), NULL, NULL, N'Mỹ', 18, 1, 0, CAST(N'2025-12-09T14:48:12.917' AS DateTime))
INSERT [dbo].[MOVIES] ([MovieID], [Title], [Description], [Duration], [Director], [Actors], [ReleaseDate], [PosterURL], [TrailerURL], [Country], [AgeRating], [IsActive], [IsTrending], [CreatedAt]) VALUES (3, N'Frozen 2', N'Elsa và Anna tiếp tục cuộc phiêu lưu', 103, N'Chris Buck, Jennifer Lee', N'Idina Menzel, Kristen Bell', CAST(N'2019-11-22' AS Date), NULL, NULL, N'Mỹ', 0, 1, 1, CAST(N'2025-12-09T14:48:12.917' AS DateTime))
SET IDENTITY_INSERT [dbo].[MOVIES] OFF
GO
SET IDENTITY_INSERT [dbo].[PROMOTIONS] ON 

INSERT [dbo].[PROMOTIONS] ([PromotionID], [PromotionCode], [PromotionName], [DiscountType], [DiscountValue], [MinOrderAmount], [MaxDiscountAmount], [StartDate], [EndDate], [Quantity], [UsedCount], [IsActive], [CreatedAt]) VALUES (1, N'WELCOME10', N'Chào mừng thành viên mới', N'Percent', CAST(10.00 AS Decimal(10, 2)), CAST(100000.00 AS Decimal(10, 2)), CAST(50000.00 AS Decimal(10, 2)), CAST(N'2024-01-01T00:00:00.000' AS DateTime), CAST(N'2024-12-31T00:00:00.000' AS DateTime), 1000, 0, 1, CAST(N'2025-12-09T14:48:13.097' AS DateTime))
INSERT [dbo].[PROMOTIONS] ([PromotionID], [PromotionCode], [PromotionName], [DiscountType], [DiscountValue], [MinOrderAmount], [MaxDiscountAmount], [StartDate], [EndDate], [Quantity], [UsedCount], [IsActive], [CreatedAt]) VALUES (2, N'SALE50K', N'Giảm 50K', N'Amount', CAST(50000.00 AS Decimal(10, 2)), CAST(200000.00 AS Decimal(10, 2)), NULL, CAST(N'2024-01-01T00:00:00.000' AS DateTime), CAST(N'2024-06-30T00:00:00.000' AS DateTime), 500, 0, 1, CAST(N'2025-12-09T14:48:13.097' AS DateTime))
INSERT [dbo].[PROMOTIONS] ([PromotionID], [PromotionCode], [PromotionName], [DiscountType], [DiscountValue], [MinOrderAmount], [MaxDiscountAmount], [StartDate], [EndDate], [Quantity], [UsedCount], [IsActive], [CreatedAt]) VALUES (3, N'NOEL2024', N'Khuyến mãi Noel', N'Percent', CAST(20.00 AS Decimal(10, 2)), CAST(150000.00 AS Decimal(10, 2)), CAST(100000.00 AS Decimal(10, 2)), CAST(N'2024-12-20T00:00:00.000' AS DateTime), CAST(N'2024-12-26T00:00:00.000' AS DateTime), 200, 0, 1, CAST(N'2025-12-09T14:48:13.097' AS DateTime))
SET IDENTITY_INSERT [dbo].[PROMOTIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[ROLES] ON 

INSERT [dbo].[ROLES] ([RoleID], [RoleName], [Description]) VALUES (1, N'Admin', N'Quản trị viên hệ thống - Toàn quyền')
INSERT [dbo].[ROLES] ([RoleID], [RoleName], [Description]) VALUES (2, N'Staff', N'Nhân viên - Quản lý phim, lịch chiếu, bán vé')
INSERT [dbo].[ROLES] ([RoleID], [RoleName], [Description]) VALUES (3, N'Customer', N'Khách hàng - Đặt vé, mua đồ ăn')
SET IDENTITY_INSERT [dbo].[ROLES] OFF
GO
SET IDENTITY_INSERT [dbo].[ROOMS] ON 

INSERT [dbo].[ROOMS] ([RoomID], [RoomName], [TotalSeats], [RoomType], [IsActive]) VALUES (1, N'Phòng 1', 80, N'Standard', 1)
INSERT [dbo].[ROOMS] ([RoomID], [RoomName], [TotalSeats], [RoomType], [IsActive]) VALUES (2, N'Phòng 2', 80, N'Standard', 1)
INSERT [dbo].[ROOMS] ([RoomID], [RoomName], [TotalSeats], [RoomType], [IsActive]) VALUES (3, N'Phòng 3', 60, N'VIP', 1)
SET IDENTITY_INSERT [dbo].[ROOMS] OFF
GO
SET IDENTITY_INSERT [dbo].[SEAT_TYPES] ON 

INSERT [dbo].[SEAT_TYPES] ([SeatTypeID], [TypeName], [PriceMultiplier], [Description]) VALUES (1, N'Thường', CAST(1.00 AS Decimal(3, 2)), N'Ghế ngồi tiêu chuẩn')
INSERT [dbo].[SEAT_TYPES] ([SeatTypeID], [TypeName], [PriceMultiplier], [Description]) VALUES (2, N'VIP', CAST(1.50 AS Decimal(3, 2)), N'Ghế VIP - rộng rãi, thoải mái hơn')
INSERT [dbo].[SEAT_TYPES] ([SeatTypeID], [TypeName], [PriceMultiplier], [Description]) VALUES (3, N'Couple', CAST(2.00 AS Decimal(3, 2)), N'Ghế đôi dành cho cặp đôi')
SET IDENTITY_INSERT [dbo].[SEAT_TYPES] OFF
GO
SET IDENTITY_INSERT [dbo].[SEATS] ON 

INSERT [dbo].[SEATS] ([SeatID], [RoomID], [RowLabel], [SeatNumber], [SeatTypeID], [IsActive], [CoupleGroupID]) VALUES (1, 1, N'A', 1, 1, 1, NULL)
INSERT [dbo].[SEATS] ([SeatID], [RoomID], [RowLabel], [SeatNumber], [SeatTypeID], [IsActive], [CoupleGroupID]) VALUES (2, 1, N'A', 2, 1, 1, NULL)
INSERT [dbo].[SEATS] ([SeatID], [RoomID], [RowLabel], [SeatNumber], [SeatTypeID], [IsActive], [CoupleGroupID]) VALUES (3, 1, N'A', 3, 1, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[SEATS] OFF
GO
SET IDENTITY_INSERT [dbo].[SHOWTIMES] ON 

INSERT [dbo].[SHOWTIMES] ([ShowtimeID], [MovieID], [RoomID], [StartTime], [EndTime], [BasePrice], [IsActive]) VALUES (1, 1, 1, CAST(N'2026-01-10T09:00:00.000' AS DateTime), CAST(N'2026-01-10T12:01:00.000' AS DateTime), CAST(80000.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[SHOWTIMES] ([ShowtimeID], [MovieID], [RoomID], [StartTime], [EndTime], [BasePrice], [IsActive]) VALUES (2, 3, 1, CAST(N'2026-01-12T13:00:00.000' AS DateTime), CAST(N'2026-01-12T14:43:00.000' AS DateTime), CAST(70000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[SHOWTIMES] ([ShowtimeID], [MovieID], [RoomID], [StartTime], [EndTime], [BasePrice], [IsActive]) VALUES (3, 5, 1, CAST(N'2026-01-19T15:30:00.000' AS DateTime), CAST(N'2026-01-19T17:10:00.000' AS DateTime), CAST(75000.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[SHOWTIMES] OFF
GO
SET IDENTITY_INSERT [dbo].[TICKET_RESALES] ON 

INSERT [dbo].[TICKET_RESALES] ([ResaleID], [BookingID], [SellerUserID], [OriginalPrice], [RefundPercent], [RefundAmount], [ResalePrice], [Status], [CreatedAt], [ExpiredAt], [BuyerUserID], [NewBookingID], [SoldAt], [RefundMethod], [Notes]) VALUES (7, 15, 6, CAST(320000.00 AS Decimal(12, 2)), CAST(70.00 AS Decimal(5, 2)), CAST(224000.00 AS Decimal(12, 2)), CAST(272000.00 AS Decimal(12, 2)), N'Sold', CAST(N'2025-12-28T15:16:25.037' AS DateTime), CAST(N'2026-02-04T09:00:00.000' AS DateTime), 10, 16, CAST(N'2025-12-28T15:20:32.953' AS DateTime), N'Both', N'')
INSERT [dbo].[TICKET_RESALES] ([ResaleID], [BookingID], [SellerUserID], [OriginalPrice], [RefundPercent], [RefundAmount], [ResalePrice], [Status], [CreatedAt], [ExpiredAt], [BuyerUserID], [NewBookingID], [SoldAt], [RefundMethod], [Notes]) VALUES (8, 14, 6, CAST(380000.00 AS Decimal(12, 2)), CAST(70.00 AS Decimal(5, 2)), CAST(266000.00 AS Decimal(12, 2)), CAST(323000.00 AS Decimal(12, 2)), N'Sold', CAST(N'2025-12-28T15:24:48.683' AS DateTime), CAST(N'2026-01-16T13:30:00.000' AS DateTime), 10, 17, CAST(N'2025-12-28T15:25:33.500' AS DateTime), N'Both', N'')
INSERT [dbo].[TICKET_RESALES] ([ResaleID], [BookingID], [SellerUserID], [OriginalPrice], [RefundPercent], [RefundAmount], [ResalePrice], [Status], [CreatedAt], [ExpiredAt], [BuyerUserID], [NewBookingID], [SoldAt], [RefundMethod], [Notes]) VALUES (9, 13, 6, CAST(150000.00 AS Decimal(12, 2)), CAST(70.00 AS Decimal(5, 2)), CAST(105000.00 AS Decimal(12, 2)), CAST(127500.00 AS Decimal(12, 2)), N'Available', CAST(N'2025-12-28T15:25:59.533' AS DateTime), CAST(N'2026-01-16T13:30:00.000' AS DateTime), NULL, NULL, NULL, N'Wallet', N'')
SET IDENTITY_INSERT [dbo].[TICKET_RESALES] OFF
GO
SET IDENTITY_INSERT [dbo].[USER_WALLET] ON 

INSERT [dbo].[USER_WALLET] ([WalletID], [UserID], [Balance], [UpdatedAt], [CreatedAt]) VALUES (1, 1, CAST(0.00 AS Decimal(12, 2)), CAST(N'2025-12-28T09:22:44.050' AS DateTime), CAST(N'2025-12-28T14:55:51.093' AS DateTime))
INSERT [dbo].[USER_WALLET] ([WalletID], [UserID], [Balance], [UpdatedAt], [CreatedAt]) VALUES (2, 2, CAST(0.00 AS Decimal(12, 2)), CAST(N'2025-12-28T09:22:44.050' AS DateTime), CAST(N'2025-12-28T14:55:51.093' AS DateTime))
INSERT [dbo].[USER_WALLET] ([WalletID], [UserID], [Balance], [UpdatedAt], [CreatedAt]) VALUES (3, 3, CAST(0.00 AS Decimal(12, 2)), CAST(N'2025-12-28T09:22:44.050' AS DateTime), CAST(N'2025-12-28T14:55:51.093' AS DateTime))
SET IDENTITY_INSERT [dbo].[USER_WALLET] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([UserID], [Username], [PasswordHash], [Salt], [FullName], [Email], [Phone], [DateOfBirth], [Gender], [Address], [RoleID], [CreatedAt], [IsActive]) VALUES (1, N'admin', N'c723279f427a875c5e35c84a768896343ab3ec545510187460af21614e9140f8', N'cIRlwYd5hEXYV8OJwZaxB8xxsHsiR3YJ0a2t4MDQfMg=', N'Administrator', N'admin@movieticket.com', N'0901234567', CAST(N'1990-01-01' AS Date), N'Nam', NULL, 1, CAST(N'2025-12-09T14:48:12.913' AS DateTime), 1)
INSERT [dbo].[USERS] ([UserID], [Username], [PasswordHash], [Salt], [FullName], [Email], [Phone], [DateOfBirth], [Gender], [Address], [RoleID], [CreatedAt], [IsActive]) VALUES (2, N'staff01', N'c723279f427a875c5e35c84a768896343ab3ec545510187460af21614e9140f8', N'cIRlwYd5hEXYV8OJwZaxB8xxsHsiR3YJ0a2t4MDQfMg=', N'Nguyễn Văn A', N'staff01@movieticket.com', N'0912345678', CAST(N'1995-05-15' AS Date), N'Nam', NULL, 2, CAST(N'2025-12-09T14:48:12.913' AS DateTime), 1)
INSERT [dbo].[USERS] ([UserID], [Username], [PasswordHash], [Salt], [FullName], [Email], [Phone], [DateOfBirth], [Gender], [Address], [RoleID], [CreatedAt], [IsActive]) VALUES (3, N'staff02', N'c723279f427a875c5e35c84a768896343ab3ec545510187460af21614e9140f8', N'cIRlwYd5hEXYV8OJwZaxB8xxsHsiR3YJ0a2t4MDQfMg=', N'Trần Thị B', N'staff02@movieticket.com', N'0923456789', CAST(N'1996-08-20' AS Date), N'Nữ', NULL, 2, CAST(N'2025-12-09T14:48:12.913' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
SET IDENTITY_INSERT [dbo].[WALLET_TRANSACTIONS] ON 

INSERT [dbo].[WALLET_TRANSACTIONS] ([TransactionID], [WalletID], [Amount], [TransactionType], [Description], [ReferenceID], [CreatedAt]) VALUES (1, 6, CAST(100000.00 AS Decimal(12, 2)), N'Deposit', N'Nạp tiền vào ví', NULL, CAST(N'2025-12-28T15:04:45.343' AS DateTime))
INSERT [dbo].[WALLET_TRANSACTIONS] ([TransactionID], [WalletID], [Amount], [TransactionType], [Description], [ReferenceID], [CreatedAt]) VALUES (2, 6, CAST(100000.00 AS Decimal(12, 2)), N'Deposit', N'Nạp tiền vào ví', NULL, CAST(N'2025-12-28T15:05:34.113' AS DateTime))
INSERT [dbo].[WALLET_TRANSACTIONS] ([TransactionID], [WalletID], [Amount], [TransactionType], [Description], [ReferenceID], [CreatedAt]) VALUES (3, 6, CAST(224000.00 AS Decimal(12, 2)), N'ResaleRefund', N'Hoàn tiền pass vé - Mã: 15', 7, CAST(N'2025-12-28T15:16:25.040' AS DateTime))
SET IDENTITY_INSERT [dbo].[WALLET_TRANSACTIONS] OFF
GO
/****** Object:  Index [UQ_BookingDetails]    Script Date: 02/01/2026 8:03:26 CH ******/
ALTER TABLE [dbo].[BOOKING_DETAILS] ADD  CONSTRAINT [UQ_BookingDetails] UNIQUE NONCLUSTERED 
(
	[BookingID] ASC,
	[SeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BOOKINGS__C6E56BD5FDA100E2]    Script Date: 02/01/2026 8:03:26 CH ******/
ALTER TABLE [dbo].[BOOKINGS] ADD UNIQUE NONCLUSTERED 
(
	[BookingCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_BookingTime]    Script Date: 02/01/2026 8:03:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_BookingTime] ON [dbo].[BOOKINGS]
(
	[BookingTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_ShowtimeID]    Script Date: 02/01/2026 8:03:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_ShowtimeID] ON [dbo].[BOOKINGS]
(
	[ShowtimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_UserID]    Script Date: 02/01/2026 8:03:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_UserID] ON [dbo].[BOOKINGS]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__FOOD_CAT__8517B2E0F7954D3A]    Script Date: 02/01/2026 8:03:26 CH ******/
ALTER TABLE [dbo].[FOOD_CATEGORIES] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__GENRES__BBE1C33967D52EA5]    Script Date: 02/01/2026 8:03:26 CH ******/
ALTER TABLE [dbo].[GENRES] ADD UNIQUE NONCLUSTERED 
(
	[GenreName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GiftReservations_Booking]    Script Date: 02/01/2026 8:03:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_GiftReservations_Booking] ON [dbo].[GIFT_RESERVATIONS]
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_GiftReservations_Campaign]    Script Date: 02/01/2026 8:03:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_GiftReservations_Campaign] ON [dbo].[GIFT_RESERVATIONS]
(
	[CampaignID] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GiftReservations_HoldUntil]    Script Date: 02/01/2026 8:03:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_GiftReservations_HoldUntil] ON [dbo].[GIFT_RESERVATIONS]
(
	[HoldUntil] ASC
)
WHERE ([Status]='Holding')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GiftReservations_User]    Script Date: 02/01/2026 8:03:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_GiftReservations_User] ON [dbo].[GIFT_RESERVATIONS]
(
	[UserID] ASC,
	[CampaignID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__INVOICES__0D9D7FF36D87EDCD]    Script Date: 02/01/2026 8:03:26 CH ******/
ALTER TABLE [dbo].[INVOICES] ADD UNIQUE NONCLUSTERED 
(
	[InvoiceCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__INVOICES__73951ACCD15AE3AF]    Script Date: 02/01/2026 8:03:26 CH ******/
ALTER TABLE [dbo].[INVOICES] ADD UNIQUE NONCLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoices_CreatedAt]    Script Date: 02/01/2026 8:03:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_CreatedAt] ON [dbo].[INVOICES]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Invoices_PaymentStatus]    Script Date: 02/01/2026 8:03:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_PaymentStatus] ON [dbo].[INVOICES]
(
	[PaymentStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MEMBERSH__D4E7DFA8A649C5C7]    Script Date: 02/01/2026 8:03:26 CH ******/
ALTER TABLE [dbo].[MEMBERSHIP_TYPES] ADD UNIQUE NONCLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__MEMBERSH__1788CCAD9A4223B6]    Script Date: 02/01/2026 8:03:26 CH ******/
ALTER TABLE [dbo].[MEMBERSHIPS] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Movies_IsTrending]    Script Date: 02/01/2026 8:03:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_Movies_IsTrending] ON [dbo].[MOVIES]
(
	[IsTrending] ASC
)
WHERE ([IsTrending]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Movies_ReleaseDate]    Script Date: 02/01/2026 8:03:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_Movies_ReleaseDate] ON [dbo].[MOVIES]
(
	[ReleaseDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Movies_Title]    Script Date: 02/01/2026 8:03:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_Movies_Title] ON [dbo].[MOVIES]
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PROMOTIO__A617E4B6C8E066C1]    Script Date: 02/01/2026 8:03:26 CH ******/
ALTER TABLE [dbo].[PROMOTIONS] ADD UNIQUE NONCLUSTERED 
(
	[PromotionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ROLES__8A2B6160BE0A991B]    Script Date: 02/01/2026 8:03:26 CH ******/
ALTER TABLE [dbo].[ROLES] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ROOMS__6B500B55BC99C49E]    Script Date: 02/01/2026 8:03:26 CH ******/
ALTER TABLE [dbo].[ROOMS] ADD UNIQUE NONCLUSTERED 
(
	[RoomName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SEAT_TYP__D4E7DFA81613F9D8]    Script Date: 02/01/2026 8:03:26 CH ******/
ALTER TABLE [dbo].[SEAT_TYPES] ADD UNIQUE NONCLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Seats_Position]    Script Date: 02/01/2026 8:03:26 CH ******/
ALTER TABLE [dbo].[SEATS] ADD  CONSTRAINT [UQ_Seats_Position] UNIQUE NONCLUSTERED 
(
	[RoomID] ASC,
	[RowLabel] ASC,
	[SeatNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Showtimes_MovieID]    Script Date: 02/01/2026 8:03:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_Showtimes_MovieID] ON [dbo].[SHOWTIMES]
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Showtimes_StartTime]    Script Date: 02/01/2026 8:03:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_Showtimes_StartTime] ON [dbo].[SHOWTIMES]
(
	[StartTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Resale_ExpiredAt]    Script Date: 02/01/2026 8:03:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_Resale_ExpiredAt] ON [dbo].[TICKET_RESALES]
(
	[ExpiredAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Resale_Status]    Script Date: 02/01/2026 8:03:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_Resale_Status] ON [dbo].[TICKET_RESALES]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__USER_WAL__1788CCADACF6535D]    Script Date: 02/01/2026 8:03:26 CH ******/
ALTER TABLE [dbo].[USER_WALLET] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USERS__536C85E424E9EE8F]    Script Date: 02/01/2026 8:03:26 CH ******/
ALTER TABLE [dbo].[USERS] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USERS__A9D1053422AA6052]    Script Date: 02/01/2026 8:03:26 CH ******/
ALTER TABLE [dbo].[USERS] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WalletTrans_WalletID]    Script Date: 02/01/2026 8:03:26 CH ******/
CREATE NONCLUSTERED INDEX [IX_WalletTrans_WalletID] ON [dbo].[WALLET_TRANSACTIONS]
(
	[WalletID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOOKINGS] ADD  DEFAULT (getdate()) FOR [BookingTime]
GO
ALTER TABLE [dbo].[BOOKINGS] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[BOOKINGS] ADD  DEFAULT ('Pending') FOR [BookingStatus]
GO
ALTER TABLE [dbo].[BOOKINGS] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BOOKINGS] ADD  DEFAULT (N'Chưa thanh toán') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[BOOKINGS] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[BOOKINGS] ADD  DEFAULT ((0)) FOR [IsResold]
GO
ALTER TABLE [dbo].[BOOKINGS] ADD  DEFAULT ((0)) FOR [ReminderSent]
GO
ALTER TABLE [dbo].[BOOKINGS] ADD  DEFAULT ((0)) FOR [HasGift]
GO
ALTER TABLE [dbo].[FOODS] ADD  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[FOODS] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GIFT_CAMPAIGNS] ADD  DEFAULT ((0)) FOR [HoldingGifts]
GO
ALTER TABLE [dbo].[GIFT_CAMPAIGNS] ADD  DEFAULT ((1)) FOR [MaxPerUser]
GO
ALTER TABLE [dbo].[GIFT_CAMPAIGNS] ADD  DEFAULT ((10)) FOR [HoldTimeoutMinutes]
GO
ALTER TABLE [dbo].[GIFT_CAMPAIGNS] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GIFT_CAMPAIGNS] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GIFT_RESERVATIONS] ADD  DEFAULT ('Holding') FOR [Status]
GO
ALTER TABLE [dbo].[GIFT_RESERVATIONS] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[INVOICES] ADD  DEFAULT ((0)) FOR [FoodAmount]
GO
ALTER TABLE [dbo].[INVOICES] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[INVOICES] ADD  DEFAULT ((0)) FOR [TaxAmount]
GO
ALTER TABLE [dbo].[INVOICES] ADD  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[INVOICES] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MEMBERSHIP_TYPES] ADD  DEFAULT ((0)) FOR [DiscountPercent]
GO
ALTER TABLE [dbo].[MEMBERSHIP_TYPES] ADD  DEFAULT ((0)) FOR [PointsRequired]
GO
ALTER TABLE [dbo].[MEMBERSHIPS] ADD  DEFAULT ((0)) FOR [Points]
GO
ALTER TABLE [dbo].[MEMBERSHIPS] ADD  DEFAULT (getdate()) FOR [JoinDate]
GO
ALTER TABLE [dbo].[MEMBERSHIPS] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MOVIES] ADD  DEFAULT ((0)) FOR [AgeRating]
GO
ALTER TABLE [dbo].[MOVIES] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MOVIES] ADD  DEFAULT ((0)) FOR [IsTrending]
GO
ALTER TABLE [dbo].[MOVIES] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[POINT_TRANSACTIONS] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[PROMOTIONS] ADD  DEFAULT ((0)) FOR [MinOrderAmount]
GO
ALTER TABLE [dbo].[PROMOTIONS] ADD  DEFAULT ((-1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[PROMOTIONS] ADD  DEFAULT ((0)) FOR [UsedCount]
GO
ALTER TABLE [dbo].[PROMOTIONS] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PROMOTIONS] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ROOMS] ADD  DEFAULT (N'Standard') FOR [RoomType]
GO
ALTER TABLE [dbo].[ROOMS] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SEAT_TYPES] ADD  DEFAULT ((1.00)) FOR [PriceMultiplier]
GO
ALTER TABLE [dbo].[SEATS] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SHOWTIMES] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TICKET_RESALES] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[TICKET_RESALES] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TICKET_RESALES] ADD  DEFAULT ('Wallet') FOR [RefundMethod]
GO
ALTER TABLE [dbo].[USER_WALLET] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[USER_WALLET] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[USER_WALLET] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[WALLET_TRANSACTIONS] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BOOKING_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_BookingDetails_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[BOOKINGS] ([BookingID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BOOKING_DETAILS] CHECK CONSTRAINT [FK_BookingDetails_Bookings]
GO
ALTER TABLE [dbo].[BOOKING_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_BookingDetails_Seats] FOREIGN KEY([SeatID])
REFERENCES [dbo].[SEATS] ([SeatID])
GO
ALTER TABLE [dbo].[BOOKING_DETAILS] CHECK CONSTRAINT [FK_BookingDetails_Seats]
GO
ALTER TABLE [dbo].[BOOKING_FOODS]  WITH CHECK ADD  CONSTRAINT [FK_BookingFoods_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[BOOKINGS] ([BookingID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BOOKING_FOODS] CHECK CONSTRAINT [FK_BookingFoods_Bookings]
GO
ALTER TABLE [dbo].[BOOKING_FOODS]  WITH CHECK ADD  CONSTRAINT [FK_BookingFoods_Foods] FOREIGN KEY([FoodID])
REFERENCES [dbo].[FOODS] ([FoodID])
GO
ALTER TABLE [dbo].[BOOKING_FOODS] CHECK CONSTRAINT [FK_BookingFoods_Foods]
GO
ALTER TABLE [dbo].[BOOKINGS]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Promotions] FOREIGN KEY([PromotionID])
REFERENCES [dbo].[PROMOTIONS] ([PromotionID])
GO
ALTER TABLE [dbo].[BOOKINGS] CHECK CONSTRAINT [FK_Bookings_Promotions]
GO
ALTER TABLE [dbo].[BOOKINGS]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Showtimes] FOREIGN KEY([ShowtimeID])
REFERENCES [dbo].[SHOWTIMES] ([ShowtimeID])
GO
ALTER TABLE [dbo].[BOOKINGS] CHECK CONSTRAINT [FK_Bookings_Showtimes]
GO
ALTER TABLE [dbo].[BOOKINGS]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[BOOKINGS] CHECK CONSTRAINT [FK_Bookings_Users]
GO
ALTER TABLE [dbo].[FOODS]  WITH CHECK ADD  CONSTRAINT [FK_Foods_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[FOOD_CATEGORIES] ([CategoryID])
GO
ALTER TABLE [dbo].[FOODS] CHECK CONSTRAINT [FK_Foods_Categories]
GO
ALTER TABLE [dbo].[GIFT_CAMPAIGNS]  WITH CHECK ADD  CONSTRAINT [FK_GiftCampaigns_Movies] FOREIGN KEY([MovieID])
REFERENCES [dbo].[MOVIES] ([MovieID])
GO
ALTER TABLE [dbo].[GIFT_CAMPAIGNS] CHECK CONSTRAINT [FK_GiftCampaigns_Movies]
GO
ALTER TABLE [dbo].[GIFT_CAMPAIGNS]  WITH CHECK ADD  CONSTRAINT [FK_GiftCampaigns_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[GIFT_CAMPAIGNS] CHECK CONSTRAINT [FK_GiftCampaigns_Users]
GO
ALTER TABLE [dbo].[GIFT_RESERVATIONS]  WITH CHECK ADD  CONSTRAINT [FK_GiftReservations_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[BOOKINGS] ([BookingID])
GO
ALTER TABLE [dbo].[GIFT_RESERVATIONS] CHECK CONSTRAINT [FK_GiftReservations_Bookings]
GO
ALTER TABLE [dbo].[GIFT_RESERVATIONS]  WITH CHECK ADD  CONSTRAINT [FK_GiftReservations_Campaigns] FOREIGN KEY([CampaignID])
REFERENCES [dbo].[GIFT_CAMPAIGNS] ([CampaignID])
GO
ALTER TABLE [dbo].[GIFT_RESERVATIONS] CHECK CONSTRAINT [FK_GiftReservations_Campaigns]
GO
ALTER TABLE [dbo].[GIFT_RESERVATIONS]  WITH CHECK ADD  CONSTRAINT [FK_GiftReservations_Staff] FOREIGN KEY([ReceivedByStaffID])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[GIFT_RESERVATIONS] CHECK CONSTRAINT [FK_GiftReservations_Staff]
GO
ALTER TABLE [dbo].[GIFT_RESERVATIONS]  WITH CHECK ADD  CONSTRAINT [FK_GiftReservations_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[GIFT_RESERVATIONS] CHECK CONSTRAINT [FK_GiftReservations_Users]
GO
ALTER TABLE [dbo].[INVOICES]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[BOOKINGS] ([BookingID])
GO
ALTER TABLE [dbo].[INVOICES] CHECK CONSTRAINT [FK_Invoices_Bookings]
GO
ALTER TABLE [dbo].[INVOICES]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Staff] FOREIGN KEY([StaffID])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[INVOICES] CHECK CONSTRAINT [FK_Invoices_Staff]
GO
ALTER TABLE [dbo].[MEMBERSHIPS]  WITH CHECK ADD  CONSTRAINT [FK_Memberships_Types] FOREIGN KEY([MembershipTypeID])
REFERENCES [dbo].[MEMBERSHIP_TYPES] ([MembershipTypeID])
GO
ALTER TABLE [dbo].[MEMBERSHIPS] CHECK CONSTRAINT [FK_Memberships_Types]
GO
ALTER TABLE [dbo].[MEMBERSHIPS]  WITH CHECK ADD  CONSTRAINT [FK_Memberships_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[MEMBERSHIPS] CHECK CONSTRAINT [FK_Memberships_Users]
GO
ALTER TABLE [dbo].[MOVIE_GENRES]  WITH CHECK ADD  CONSTRAINT [FK_MovieGenres_Genres] FOREIGN KEY([GenreID])
REFERENCES [dbo].[GENRES] ([GenreID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MOVIE_GENRES] CHECK CONSTRAINT [FK_MovieGenres_Genres]
GO
ALTER TABLE [dbo].[MOVIE_GENRES]  WITH CHECK ADD  CONSTRAINT [FK_MovieGenres_Movies] FOREIGN KEY([MovieID])
REFERENCES [dbo].[MOVIES] ([MovieID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MOVIE_GENRES] CHECK CONSTRAINT [FK_MovieGenres_Movies]
GO
ALTER TABLE [dbo].[POINT_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_PointTransactions_Memberships] FOREIGN KEY([MembershipID])
REFERENCES [dbo].[MEMBERSHIPS] ([MembershipID])
GO
ALTER TABLE [dbo].[POINT_TRANSACTIONS] CHECK CONSTRAINT [FK_PointTransactions_Memberships]
GO
ALTER TABLE [dbo].[SEATS]  WITH CHECK ADD  CONSTRAINT [FK_Seats_Rooms] FOREIGN KEY([RoomID])
REFERENCES [dbo].[ROOMS] ([RoomID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SEATS] CHECK CONSTRAINT [FK_Seats_Rooms]
GO
ALTER TABLE [dbo].[SEATS]  WITH CHECK ADD  CONSTRAINT [FK_Seats_SeatTypes] FOREIGN KEY([SeatTypeID])
REFERENCES [dbo].[SEAT_TYPES] ([SeatTypeID])
GO
ALTER TABLE [dbo].[SEATS] CHECK CONSTRAINT [FK_Seats_SeatTypes]
GO
ALTER TABLE [dbo].[SHOWTIMES]  WITH CHECK ADD  CONSTRAINT [FK_Showtimes_Movies] FOREIGN KEY([MovieID])
REFERENCES [dbo].[MOVIES] ([MovieID])
GO
ALTER TABLE [dbo].[SHOWTIMES] CHECK CONSTRAINT [FK_Showtimes_Movies]
GO
ALTER TABLE [dbo].[SHOWTIMES]  WITH CHECK ADD  CONSTRAINT [FK_Showtimes_Rooms] FOREIGN KEY([RoomID])
REFERENCES [dbo].[ROOMS] ([RoomID])
GO
ALTER TABLE [dbo].[SHOWTIMES] CHECK CONSTRAINT [FK_Showtimes_Rooms]
GO
ALTER TABLE [dbo].[TICKET_RESALES]  WITH CHECK ADD  CONSTRAINT [FK_Resale_Booking] FOREIGN KEY([BookingID])
REFERENCES [dbo].[BOOKINGS] ([BookingID])
GO
ALTER TABLE [dbo].[TICKET_RESALES] CHECK CONSTRAINT [FK_Resale_Booking]
GO
ALTER TABLE [dbo].[TICKET_RESALES]  WITH CHECK ADD  CONSTRAINT [FK_Resale_Buyer] FOREIGN KEY([BuyerUserID])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[TICKET_RESALES] CHECK CONSTRAINT [FK_Resale_Buyer]
GO
ALTER TABLE [dbo].[TICKET_RESALES]  WITH CHECK ADD  CONSTRAINT [FK_Resale_Seller] FOREIGN KEY([SellerUserID])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[TICKET_RESALES] CHECK CONSTRAINT [FK_Resale_Seller]
GO
ALTER TABLE [dbo].[USER_WALLET]  WITH CHECK ADD  CONSTRAINT [FK_Wallet_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[USER_WALLET] CHECK CONSTRAINT [FK_Wallet_User]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[ROLES] ([RoleID])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[WALLET_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_WalletTrans_Wallet] FOREIGN KEY([WalletID])
REFERENCES [dbo].[USER_WALLET] ([WalletID])
GO
ALTER TABLE [dbo].[WALLET_TRANSACTIONS] CHECK CONSTRAINT [FK_WalletTrans_Wallet]
GO
ALTER TABLE [dbo].[BOOKING_FOODS]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[BOOKINGS]  WITH CHECK ADD  CONSTRAINT [CK_BOOKINGS_BookingStatus] CHECK  (([BookingStatus]='Resold' OR [BookingStatus]='Completed' OR [BookingStatus]='Cancelled' OR [BookingStatus]='Confirmed' OR [BookingStatus]='Pending'))
GO
ALTER TABLE [dbo].[BOOKINGS] CHECK CONSTRAINT [CK_BOOKINGS_BookingStatus]
GO
ALTER TABLE [dbo].[GIFT_CAMPAIGNS]  WITH CHECK ADD  CONSTRAINT [CK_GiftCampaigns_Dates] CHECK  (([EndDate]>[StartDate]))
GO
ALTER TABLE [dbo].[GIFT_CAMPAIGNS] CHECK CONSTRAINT [CK_GiftCampaigns_Dates]
GO
ALTER TABLE [dbo].[GIFT_CAMPAIGNS]  WITH CHECK ADD  CONSTRAINT [CK_GiftCampaigns_Gifts] CHECK  (([RemainingGifts]>=(0) AND [TotalGifts]>(0)))
GO
ALTER TABLE [dbo].[GIFT_CAMPAIGNS] CHECK CONSTRAINT [CK_GiftCampaigns_Gifts]
GO
ALTER TABLE [dbo].[GIFT_RESERVATIONS]  WITH CHECK ADD  CONSTRAINT [CK_GiftReservations_Status] CHECK  (([Status]='Cancelled' OR [Status]='Expired' OR [Status]='Received' OR [Status]='Confirmed' OR [Status]='Holding'))
GO
ALTER TABLE [dbo].[GIFT_RESERVATIONS] CHECK CONSTRAINT [CK_GiftReservations_Status]
GO
ALTER TABLE [dbo].[INVOICES]  WITH CHECK ADD CHECK  (([PaymentMethod]=N'VNPay' OR [PaymentMethod]=N'ZaloPay' OR [PaymentMethod]=N'MoMo' OR [PaymentMethod]=N'Thẻ ngân hàng' OR [PaymentMethod]=N'Tiền mặt'))
GO
ALTER TABLE [dbo].[INVOICES]  WITH CHECK ADD CHECK  (([PaymentStatus]='Cancelled' OR [PaymentStatus]='Refunded' OR [PaymentStatus]='Paid' OR [PaymentStatus]='Pending'))
GO
ALTER TABLE [dbo].[POINT_TRANSACTIONS]  WITH CHECK ADD CHECK  (([TransactionType]='Adjust' OR [TransactionType]='Expire' OR [TransactionType]='Redeem' OR [TransactionType]='Earn'))
GO
ALTER TABLE [dbo].[PROMOTIONS]  WITH CHECK ADD CHECK  (([DiscountType]='Amount' OR [DiscountType]='Percent'))
GO
ALTER TABLE [dbo].[PROMOTIONS]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_Date] CHECK  (([EndDate]>[StartDate]))
GO
ALTER TABLE [dbo].[PROMOTIONS] CHECK CONSTRAINT [CK_Promotions_Date]
GO
ALTER TABLE [dbo].[PROMOTIONS]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_Value] CHECK  (([DiscountValue]>(0)))
GO
ALTER TABLE [dbo].[PROMOTIONS] CHECK CONSTRAINT [CK_Promotions_Value]
GO
ALTER TABLE [dbo].[SHOWTIMES]  WITH CHECK ADD  CONSTRAINT [CK_Showtimes_Time] CHECK  (([EndTime]>[StartTime]))
GO
ALTER TABLE [dbo].[SHOWTIMES] CHECK CONSTRAINT [CK_Showtimes_Time]
GO
ALTER TABLE [dbo].[TICKET_RESALES]  WITH CHECK ADD  CONSTRAINT [CHK_Resale_Status] CHECK  (([Status]='Cancelled' OR [Status]='Expired' OR [Status]='Sold' OR [Status]='Available'))
GO
ALTER TABLE [dbo].[TICKET_RESALES] CHECK CONSTRAINT [CHK_Resale_Status]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD CHECK  (([Gender]=N'Khác' OR [Gender]=N'Nữ' OR [Gender]=N'Nam'))
GO
/****** Object:  StoredProcedure [dbo].[sp_BuyResaleTicket]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BuyResaleTicket]
    @ResaleID INT,
    @BuyerUserID INT,
    @PaymentMethod NVARCHAR(20),  -- 'Wallet', 'Cash', 'Card'
    @NewBookingID INT OUTPUT,
    @Message NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON
    BEGIN TRY
        BEGIN TRANSACTION
        
        DECLARE @BookingID INT
        DECLARE @SellerUserID INT
        DECLARE @ResalePrice DECIMAL(12,2)
        DECLARE @Status NVARCHAR(20)
        DECLARE @ShowtimeID INT
        DECLARE @WalletID INT
        DECLARE @WalletBalance DECIMAL(12,2)
        DECLARE @NewBookingCode NVARCHAR(20)
        
        -- Lấy thông tin resale
        SELECT 
            @BookingID = r.BookingID,
            @SellerUserID = r.SellerUserID,
            @ResalePrice = r.ResalePrice,
            @Status = r.Status,
            @ShowtimeID = b.ShowtimeID
        FROM TICKET_RESALES r
        INNER JOIN BOOKINGS b ON r.BookingID = b.BookingID
        WHERE r.ResaleID = @ResaleID
        
        -- Kiểm tra
        IF @Status IS NULL
        BEGIN
            SET @Message = N'Không tìm thấy vé pass!'
            SET @NewBookingID = 0
            ROLLBACK
            RETURN
        END
        
        IF @Status != 'Available'
        BEGIN
            SET @Message = N'Vé này đã được bán hoặc hết hạn!'
            SET @NewBookingID = 0
            ROLLBACK
            RETURN
        END
        
        IF @BuyerUserID = @SellerUserID
        BEGIN
            SET @Message = N'Không thể mua vé của chính mình!'
            SET @NewBookingID = 0
            ROLLBACK
            RETURN
        END
        
        -- Kiểm tra ví nếu thanh toán bằng ví
        IF @PaymentMethod = 'Wallet'
        BEGIN
            SELECT @WalletID = WalletID, @WalletBalance = Balance 
            FROM USER_WALLET WHERE UserID = @BuyerUserID
            
            IF @WalletBalance < @ResalePrice
            BEGIN
                SET @Message = N'Số dư ví không đủ! Cần: ' + FORMAT(@ResalePrice, 'N0') + N'đ'
                SET @NewBookingID = 0
                ROLLBACK
                RETURN
            END
            
            -- Trừ tiền ví
            UPDATE USER_WALLET 
            SET Balance = Balance - @ResalePrice, UpdatedAt = GETDATE()
            WHERE WalletID = @WalletID
            
            -- Ghi log
            INSERT INTO WALLET_TRANSACTIONS (WalletID, Amount, TransactionType, Description, ReferenceID)
            VALUES (@WalletID, -@ResalePrice, 'Payment', N'Mua vé pass - ResaleID: ' + CAST(@ResaleID AS NVARCHAR), @ResaleID)
        END
        
        -- Tạo mã booking mới
        SET @NewBookingCode = 'BK' + FORMAT(GETDATE(), 'yyyyMMddHHmmss') + CAST(ABS(CHECKSUM(NEWID())) % 1000 AS NVARCHAR)
        
        -- Tạo booking mới cho buyer (copy từ booking cũ)
        INSERT INTO BOOKINGS (BookingCode, UserID, ShowtimeID, TotalAmount, FinalAmount, 
                              BookingStatus, PaymentStatus, PaymentMethod, BookingTime)
        SELECT @NewBookingCode, @BuyerUserID, ShowtimeID, @ResalePrice, @ResalePrice,
               'Confirmed', N'Đã thanh toán', @PaymentMethod, GETDATE()
        FROM BOOKINGS WHERE BookingID = @BookingID
        
        SET @NewBookingID = SCOPE_IDENTITY()
        
        -- Copy booking details (ghế)
        INSERT INTO BOOKING_DETAILS (BookingID, SeatID, Price)
        SELECT @NewBookingID, SeatID, Price
        FROM BOOKING_DETAILS WHERE BookingID = @BookingID
        
        -- Copy booking foods (đồ ăn) nếu có
        IF EXISTS (SELECT * FROM sys.tables WHERE name = 'BOOKING_FOODS')
        BEGIN
            INSERT INTO BOOKING_FOODS (BookingID, FoodID, Quantity, UnitPrice, TotalPrice)
            SELECT @NewBookingID, FoodID, Quantity, UnitPrice, TotalPrice
            FROM BOOKING_FOODS WHERE BookingID = @BookingID
        END
        
        -- Cập nhật trạng thái resale
        UPDATE TICKET_RESALES 
        SET Status = 'Sold', BuyerUserID = @BuyerUserID, NewBookingID = @NewBookingID, SoldAt = GETDATE()
        WHERE ResaleID = @ResaleID
        
        SET @Message = N'Mua vé thành công! Mã vé mới: ' + @NewBookingCode
        
        COMMIT
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK
        SET @Message = N'Lỗi: ' + ERROR_MESSAGE()
        SET @NewBookingID = 0
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CalculateRefundPercent]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CalculateRefundPercent]
    @BookingID INT,
    @RefundPercent DECIMAL(5,2) OUTPUT,
    @DaysRemaining INT OUTPUT
AS
BEGIN
    DECLARE @ShowTime DATETIME
    
    -- Lấy thời gian chiếu
    SELECT @ShowTime = s.StartTime
    FROM BOOKINGS b
    INNER JOIN SHOWTIMES s ON b.ShowtimeID = s.ShowtimeID
    WHERE b.BookingID = @BookingID
    
    -- Tính số ngày còn lại
    SET @DaysRemaining = DATEDIFF(DAY, GETDATE(), @ShowTime)
    
    -- Tính % hoàn tiền
    IF @DaysRemaining >= 3
        SET @RefundPercent = 70.00
    ELSE IF @DaysRemaining >= 2
        SET @RefundPercent = 50.00
    ELSE IF @DaysRemaining >= 1
        SET @RefundPercent = 30.00
    ELSE
        SET @RefundPercent = 0.00
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CancelGiftReservation]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CancelGiftReservation]
    @ReservationID INT,
    @CancelReason NVARCHAR(200),
    @ReturnToStock BIT = 1,  -- Có trả quà về kho không
    @Success BIT OUTPUT,
    @Message NVARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON
    
    SET @Success = 0
    SET @Message = N''
    
    DECLARE @CurrentStatus NVARCHAR(20)
    DECLARE @CampaignID INT
    DECLARE @BookingID INT
    
    BEGIN TRANSACTION
    
    BEGIN TRY
        -- 1. Lấy thông tin reservation
        SELECT 
            @CurrentStatus = Status,
            @CampaignID = CampaignID,
            @BookingID = BookingID
        FROM GIFT_RESERVATIONS WITH (UPDLOCK)
        WHERE ReservationID = @ReservationID
        
        IF @CurrentStatus IS NULL
        BEGIN
            SET @Message = N'Không tìm thấy thông tin giữ chỗ quà!'
            ROLLBACK TRANSACTION
            RETURN
        END
        
        -- 2. Chỉ hủy được nếu đang Holding hoặc Confirmed
        IF @CurrentStatus NOT IN ('Holding', 'Confirmed')
        BEGIN
            SET @Message = N'Không thể hủy! Trạng thái hiện tại: ' + @CurrentStatus
            ROLLBACK TRANSACTION
            RETURN
        END
        
        -- 3. Cập nhật trạng thái
        UPDATE GIFT_RESERVATIONS 
        SET Status = 'Cancelled',
            CancelledAt = GETDATE(),
            CancelReason = @CancelReason
        WHERE ReservationID = @ReservationID
        
        -- 4. Trả quà về kho (nếu được yêu cầu)
        IF @ReturnToStock = 1
        BEGIN
            IF @CurrentStatus = 'Holding'
            BEGIN
                UPDATE GIFT_CAMPAIGNS 
                SET RemainingGifts = RemainingGifts + 1,
                    HoldingGifts = HoldingGifts - 1
                WHERE CampaignID = @CampaignID
            END
            ELSE -- Confirmed
            BEGIN
                UPDATE GIFT_CAMPAIGNS 
                SET RemainingGifts = RemainingGifts + 1
                WHERE CampaignID = @CampaignID
            END
        END
        
        -- 5. Cập nhật booking (nếu có)
        IF @BookingID IS NOT NULL
        BEGIN
            UPDATE BOOKINGS 
            SET HasGift = 0,
                GiftReservationID = NULL
            WHERE BookingID = @BookingID
        END
        
        SET @Success = 1
        SET @Message = N'Đã hủy giữ chỗ quà thành công!'
        
        COMMIT TRANSACTION
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION
            
        SET @Success = 0
        SET @Message = N'Lỗi hệ thống: ' + ERROR_MESSAGE()
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_CheckSeatAvailability]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- PHẦN 12: STORED PROCEDURES
-- ============================================

-- SP: Kiểm tra ghế đã được đặt chưa
CREATE PROCEDURE [dbo].[sp_CheckSeatAvailability]
    @ShowtimeID INT,
    @SeatID INT
AS
BEGIN
    SELECT COUNT(*) AS IsBooked
    FROM BOOKING_DETAILS bd
    INNER JOIN BOOKINGS b ON bd.BookingID = b.BookingID
    WHERE b.ShowtimeID = @ShowtimeID 
    AND bd.SeatID = @SeatID
    AND b.BookingStatus NOT IN ('Cancelled')
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckUserGiftEligibility]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CheckUserGiftEligibility]
    @CampaignID INT,
    @UserID INT,
    @IsEligible BIT OUTPUT,
    @Message NVARCHAR(500) OUTPUT,
    @RemainingGifts INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON
    
    SET @IsEligible = 0
    SET @Message = N''
    SET @RemainingGifts = 0
    
    DECLARE @MaxPerUser INT
    DECLARE @UserGiftCount INT
    DECLARE @IsActive BIT
    DECLARE @StartDate DATETIME
    DECLARE @EndDate DATETIME
    
    -- 1. Lấy thông tin campaign
    SELECT 
        @RemainingGifts = RemainingGifts,
        @MaxPerUser = MaxPerUser,
        @IsActive = IsActive,
        @StartDate = StartDate,
        @EndDate = EndDate
    FROM GIFT_CAMPAIGNS
    WHERE CampaignID = @CampaignID
    
    IF @RemainingGifts IS NULL
    BEGIN
        SET @Message = N'Chiến dịch không tồn tại!'
        RETURN
    END
    
    -- 2. Kiểm tra trạng thái
    IF @IsActive = 0
    BEGIN
        SET @Message = N'Chiến dịch đã tạm dừng!'
        RETURN
    END
    
    IF GETDATE() < @StartDate
    BEGIN
        SET @Message = N'Chiến dịch chưa bắt đầu!'
        RETURN
    END
    
    IF GETDATE() > @EndDate
    BEGIN
        SET @Message = N'Chiến dịch đã kết thúc!'
        RETURN
    END
    
    IF @RemainingGifts <= 0
    BEGIN
        SET @Message = N'Đã hết quà tặng!'
        RETURN
    END
    
    -- 3. Kiểm tra user đã có quà chưa
    SELECT @UserGiftCount = COUNT(*)
    FROM GIFT_RESERVATIONS
    WHERE CampaignID = @CampaignID 
      AND UserID = @UserID 
      AND Status IN ('Holding', 'Confirmed', 'Received')
    
    IF @UserGiftCount >= @MaxPerUser
    BEGIN
        SET @Message = N'Bạn đã nhận đủ số quà cho phép!'
        RETURN
    END
    
    -- 4. Đủ điều kiện
    SET @IsEligible = 1
    SET @Message = N'Bạn đủ điều kiện nhận quà! Còn ' + CAST(@RemainingGifts AS NVARCHAR) + N' phần.'
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ConfirmGift]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ConfirmGift]
    @ReservationID INT,
    @BookingID INT,
    @Success BIT OUTPUT,
    @Message NVARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON
    
    SET @Success = 0
    SET @Message = N''
    
    DECLARE @CurrentStatus NVARCHAR(20)
    DECLARE @HoldUntil DATETIME
    DECLARE @CampaignID INT
    
    BEGIN TRANSACTION
    
    BEGIN TRY
        -- 1. Kiểm tra reservation
        SELECT 
            @CurrentStatus = Status,
            @HoldUntil = HoldUntil,
            @CampaignID = CampaignID
        FROM GIFT_RESERVATIONS WITH (UPDLOCK)
        WHERE ReservationID = @ReservationID
        
        IF @CurrentStatus IS NULL
        BEGIN
            SET @Message = N'Không tìm thấy thông tin giữ chỗ quà!'
            ROLLBACK TRANSACTION
            RETURN
        END
        
        -- 2. Kiểm tra trạng thái
        IF @CurrentStatus != 'Holding'
        BEGIN
            SET @Message = N'Trạng thái giữ chỗ không hợp lệ! (Hiện tại: ' + @CurrentStatus + N')'
            ROLLBACK TRANSACTION
            RETURN
        END
        
        -- 3. Kiểm tra hết hạn chưa
        IF GETDATE() > @HoldUntil
        BEGIN
            -- Đã hết hạn -> Cập nhật thành Expired
            UPDATE GIFT_RESERVATIONS 
            SET Status = 'Expired', CancelReason = N'Hết thời gian giữ chỗ'
            WHERE ReservationID = @ReservationID
            
            -- Trả quà về kho
            UPDATE GIFT_CAMPAIGNS 
            SET RemainingGifts = RemainingGifts + 1,
                HoldingGifts = HoldingGifts - 1
            WHERE CampaignID = @CampaignID
            
            SET @Message = N'Hết thời gian giữ chỗ quà! Quà đã được trả về cho khách khác.'
            COMMIT TRANSACTION
            RETURN
        END
        
        -- 4. Xác nhận quà
        UPDATE GIFT_RESERVATIONS 
        SET Status = 'Confirmed',
            BookingID = @BookingID,
            ConfirmedAt = GETDATE(),
            HoldUntil = NULL  -- Không cần timeout nữa
        WHERE ReservationID = @ReservationID
        
        -- 5. Giảm số quà đang giữ
        UPDATE GIFT_CAMPAIGNS 
        SET HoldingGifts = HoldingGifts - 1
        WHERE CampaignID = @CampaignID
        
        -- 6. Cập nhật booking
        UPDATE BOOKINGS 
        SET HasGift = 1,
            GiftReservationID = @ReservationID
        WHERE BookingID = @BookingID
        
        SET @Success = 1
        SET @Message = N'Xác nhận quà tặng thành công! Quà sẽ được phát khi bạn đến rạp.'
        
        COMMIT TRANSACTION
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION
            
        SET @Success = 0
        SET @Message = N'Lỗi hệ thống: ' + ERROR_MESSAGE()
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateBookingCode]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Tạo mã Booking tự động
CREATE PROCEDURE [dbo].[sp_GenerateBookingCode]
    @BookingCode NVARCHAR(20) OUTPUT
AS
BEGIN
    DECLARE @Date NVARCHAR(8) = FORMAT(GETDATE(), 'yyyyMMdd')
    DECLARE @Count INT
    
    SELECT @Count = COUNT(*) + 1 
    FROM BOOKINGS 
    WHERE CAST(CreatedAt AS DATE) = CAST(GETDATE() AS DATE)
    
    SET @BookingCode = 'BK' + @Date + RIGHT('0000' + CAST(@Count AS NVARCHAR), 4)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateInvoiceCode]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Tạo mã Invoice tự động
CREATE PROCEDURE [dbo].[sp_GenerateInvoiceCode]
    @InvoiceCode NVARCHAR(20) OUTPUT
AS
BEGIN
    DECLARE @Date NVARCHAR(8) = FORMAT(GETDATE(), 'yyyyMMdd')
    DECLARE @Count INT
    
    SELECT @Count = COUNT(*) + 1 
    FROM INVOICES 
    WHERE CAST(CreatedAt AS DATE) = CAST(GETDATE() AS DATE)
    
    SET @InvoiceCode = 'HD' + @Date + RIGHT('0000' + CAST(@Count AS NVARCHAR), 4)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetActiveCampaigns]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetActiveCampaigns]
    @MovieID INT = NULL  -- NULL = lấy tất cả campaigns
AS
BEGIN
    SET NOCOUNT ON
    
    SELECT 
        gc.CampaignID,
        gc.CampaignName,
        gc.Description,
        gc.GiftName,
        gc.MovieID,
        m.Title AS MovieTitle,
        gc.TotalGifts,
        gc.RemainingGifts,
        gc.HoldingGifts,
        (gc.RemainingGifts) AS AvailableGifts,
        gc.MaxPerUser,
        gc.HoldTimeoutMinutes,
        gc.StartDate,
        gc.EndDate,
        gc.IsActive,
        gc.CreatedAt,
        gc.CreatedBy,
        CASE 
            WHEN gc.RemainingGifts <= 0 THEN N'Hết quà'
            WHEN GETDATE() < gc.StartDate THEN N'Chưa bắt đầu'
            WHEN GETDATE() > gc.EndDate THEN N'Đã kết thúc'
            WHEN gc.IsActive = 0 THEN N'Tạm dừng'
            ELSE N'Đang diễn ra'
        END AS StatusText
    FROM GIFT_CAMPAIGNS gc
    LEFT JOIN MOVIES m ON gc.MovieID = m.MovieID
    WHERE gc.IsActive = 1
      AND GETDATE() BETWEEN gc.StartDate AND gc.EndDate
      AND gc.RemainingGifts > 0
      -- QUAN TRỌNG: Lấy campaign nếu:
      -- 1. @MovieID IS NULL (không filter) -> lấy tất cả
      -- 2. gc.MovieID = @MovieID (áp dụng cho phim được chọn)
      -- 3. gc.MovieID IS NULL (áp dụng cho TẤT CẢ phim)
      AND (
          @MovieID IS NULL 
          OR gc.MovieID = @MovieID 
          OR gc.MovieID IS NULL
      )
    ORDER BY 
        CASE WHEN gc.MovieID IS NULL THEN 0 ELSE 1 END,  -- Ưu tiên campaign "Tất cả phim"
        gc.RemainingGifts DESC, 
        gc.EndDate ASC
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetBookedSeats]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Lấy danh sách ghế đã đặt của một suất chiếu
CREATE PROCEDURE [dbo].[sp_GetBookedSeats]
    @ShowtimeID INT
AS
BEGIN
    SELECT s.SeatID, s.RowLabel, s.SeatNumber, s.SeatTypeID
    FROM SEATS s
    INNER JOIN BOOKING_DETAILS bd ON s.SeatID = bd.SeatID
    INNER JOIN BOOKINGS b ON bd.BookingID = b.BookingID
    WHERE b.ShowtimeID = @ShowtimeID
    AND b.BookingStatus NOT IN ('Cancelled')
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBookingGiftInfo]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBookingGiftInfo]
    @BookingID INT
AS
BEGIN
    SET NOCOUNT ON
    
    SELECT 
        b.BookingID,
        b.BookingCode,
        b.HasGift,
        gr.ReservationID,
        gr.Status AS GiftStatus,
        gr.ConfirmedAt,
        gr.ReceivedAt,
        gc.CampaignID,
        gc.CampaignName,
        gc.GiftName,
        gc.Description AS GiftDescription,
        CASE gr.Status
            WHEN 'Holding' THEN N'Đang giữ chỗ'
            WHEN 'Confirmed' THEN N'Đã xác nhận - Chờ nhận'
            WHEN 'Received' THEN N'Đã nhận quà'
            WHEN 'Expired' THEN N'Hết hạn'
            WHEN 'Cancelled' THEN N'Đã hủy'
            ELSE N'Không có quà'
        END AS GiftStatusText
    FROM BOOKINGS b
    LEFT JOIN GIFT_RESERVATIONS gr ON b.GiftReservationID = gr.ReservationID
    LEFT JOIN GIFT_CAMPAIGNS gc ON gr.CampaignID = gc.CampaignID
    WHERE b.BookingID = @BookingID
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetNowShowingMovies]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Lấy phim đang chiếu
CREATE PROCEDURE [dbo].[sp_GetNowShowingMovies]
AS
BEGIN
    SELECT DISTINCT m.*
    FROM MOVIES m
    INNER JOIN SHOWTIMES s ON m.MovieID = s.MovieID
    WHERE s.StartTime >= GETDATE()
    AND s.IsActive = 1
    AND m.IsActive = 1
    ORDER BY m.IsTrending DESC, m.Title
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetRevenueByDate]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Thống kê doanh thu theo ngày
CREATE PROCEDURE [dbo].[sp_GetRevenueByDate]
    @FromDate DATE,
    @ToDate DATE
AS
BEGIN
    SELECT 
        CAST(i.CreatedAt AS DATE) AS [Date],
        COUNT(DISTINCT i.InvoiceID) AS TotalInvoices,
        SUM(i.TicketAmount) AS TicketRevenue,
        SUM(i.FoodAmount) AS FoodRevenue,
        SUM(i.FinalAmount) AS TotalRevenue
    FROM INVOICES i
    WHERE CAST(i.CreatedAt AS DATE) BETWEEN @FromDate AND @ToDate
    AND i.PaymentStatus = 'Paid'
    GROUP BY CAST(i.CreatedAt AS DATE)
    ORDER BY [Date]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetShowtimesByMovie]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Lấy lịch chiếu của một phim
CREATE PROCEDURE [dbo].[sp_GetShowtimesByMovie]
    @MovieID INT,
    @Date DATE = NULL
AS
BEGIN
    IF @Date IS NULL
        SET @Date = CAST(GETDATE() AS DATE)
    
    SELECT 
        s.ShowtimeID,
        s.StartTime,
        s.EndTime,
        s.BasePrice,
        r.RoomID,
        r.RoomName,
        r.RoomType,
        m.Title AS MovieTitle,
        m.Duration
    FROM SHOWTIMES s
    INNER JOIN ROOMS r ON s.RoomID = r.RoomID
    INNER JOIN MOVIES m ON s.MovieID = m.MovieID
    WHERE s.MovieID = @MovieID
    AND CAST(s.StartTime AS DATE) = @Date
    AND s.IsActive = 1
    AND s.StartTime > GETDATE()
    ORDER BY s.StartTime
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ProcessTicketResale]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ProcessTicketResale]
    @BookingID INT,
    @RefundMethod NVARCHAR(20),
    @Notes NVARCHAR(500) = NULL,
    @ResaleID INT OUTPUT,
    @Message NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON
    BEGIN TRY
        BEGIN TRANSACTION
        
        DECLARE @SellerUserID INT
        DECLARE @OriginalPrice DECIMAL(12,2)
        DECLARE @RefundPercent DECIMAL(5,2)
        DECLARE @RefundAmount DECIMAL(12,2)
        DECLARE @ResalePrice DECIMAL(12,2)
        DECLARE @ExpiredAt DATETIME
        DECLARE @DaysRemaining INT
        DECLARE @WalletID INT
        DECLARE @BookingStatus NVARCHAR(20)
        DECLARE @IsResold BIT
        
        SELECT 
            @SellerUserID = b.UserID,
            @OriginalPrice = b.TotalAmount,
            @ExpiredAt = s.StartTime,
            @BookingStatus = b.BookingStatus,
            @IsResold = ISNULL(b.IsResold, 0)
        FROM BOOKINGS b
        INNER JOIN SHOWTIMES s ON b.ShowtimeID = s.ShowtimeID
        WHERE b.BookingID = @BookingID
        
        IF @BookingStatus IS NULL
        BEGIN
            SET @Message = N'Không tìm thấy booking!'
            SET @ResaleID = 0
            ROLLBACK
            RETURN
        END
        
        IF @BookingStatus != 'Confirmed'
        BEGIN
            SET @Message = N'Chỉ có thể pass vé đã xác nhận!'
            SET @ResaleID = 0
            ROLLBACK
            RETURN
        END
        
        IF @IsResold = 1
        BEGIN
            SET @Message = N'Vé này đã được pass trước đó!'
            SET @ResaleID = 0
            ROLLBACK
            RETURN
        END
        
        EXEC sp_CalculateRefundPercent @BookingID, @RefundPercent OUTPUT, @DaysRemaining OUTPUT
        
        IF @RefundPercent = 0
        BEGIN
            SET @Message = N'Không thể pass vé trong ngày chiếu!'
            SET @ResaleID = 0
            ROLLBACK
            RETURN
        END
        
        SET @RefundAmount = @OriginalPrice * @RefundPercent / 100
        SET @ResalePrice = @OriginalPrice * 0.85
        
        INSERT INTO TICKET_RESALES (
            BookingID, SellerUserID, OriginalPrice, RefundPercent,
            RefundAmount, ResalePrice, RefundMethod, Status, ExpiredAt, Notes
        )
        VALUES (
            @BookingID, @SellerUserID, @OriginalPrice, @RefundPercent,
            @RefundAmount, @ResalePrice, @RefundMethod, 'Available', @ExpiredAt, @Notes
        )
        
        SET @ResaleID = SCOPE_IDENTITY()
        
        UPDATE BOOKINGS SET IsResold = 1, BookingStatus = 'Resold' WHERE BookingID = @BookingID
        
        IF @RefundMethod IN ('Wallet', 'Both')
        BEGIN
            SELECT @WalletID = WalletID FROM USER_WALLET WHERE UserID = @SellerUserID
            
            IF @WalletID IS NULL
            BEGIN
                INSERT INTO USER_WALLET (UserID, Balance) VALUES (@SellerUserID, 0)
                SET @WalletID = SCOPE_IDENTITY()
            END
            
            UPDATE USER_WALLET 
            SET Balance = Balance + @RefundAmount, UpdatedAt = GETDATE()
            WHERE WalletID = @WalletID
            
            INSERT INTO WALLET_TRANSACTIONS (WalletID, Amount, TransactionType, Description, ReferenceID)
            VALUES (@WalletID, @RefundAmount, 'ResaleRefund', 
                    N'Hoàn tiền pass vé - Mã: ' + CAST(@BookingID AS NVARCHAR), @ResaleID)
        END
        
        IF @RefundMethod IN ('Points', 'Both')
        BEGIN
            DECLARE @PointsToAdd INT = CAST(@RefundAmount / 1000 AS INT)
            DECLARE @MembershipID INT
            
            SELECT @MembershipID = MembershipID FROM MEMBERSHIPS WHERE UserID = @SellerUserID
            
            IF @MembershipID IS NOT NULL
            BEGIN
                UPDATE MEMBERSHIPS SET Points = Points + @PointsToAdd WHERE MembershipID = @MembershipID
            END
        END
        
        SET @Message = N'Pass vé thành công! Hoàn tiền: ' + FORMAT(@RefundAmount, 'N0') + N'đ'
        
        COMMIT
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK
        SET @Message = N'Lỗi: ' + ERROR_MESSAGE()
        SET @ResaleID = 0
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReceiveGift]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReceiveGift]
    @BookingID INT,
    @StaffID INT,
    @Success BIT OUTPUT,
    @Message NVARCHAR(500) OUTPUT,
    @GiftName NVARCHAR(100) OUTPUT
AS
BEGIN
    SET NOCOUNT ON
    
    SET @Success = 0
    SET @Message = N''
    SET @GiftName = N''
    
    DECLARE @HasGift BIT
    DECLARE @ReservationID INT
    DECLARE @CurrentStatus NVARCHAR(20)
    DECLARE @CampaignID INT
    
    BEGIN TRY
        -- 1. Kiểm tra booking có quà không
        SELECT 
            @HasGift = HasGift,
            @ReservationID = GiftReservationID
        FROM BOOKINGS
        WHERE BookingID = @BookingID
        
        IF @HasGift IS NULL
        BEGIN
            SET @Message = N'Không tìm thấy thông tin vé!'
            RETURN
        END
        
        IF @HasGift = 0 OR @ReservationID IS NULL
        BEGIN
            SET @Message = N'Vé này không có quà tặng kèm.'
            RETURN
        END
        
        -- 2. Kiểm tra trạng thái reservation
        SELECT 
            @CurrentStatus = gr.Status,
            @CampaignID = gr.CampaignID,
            @GiftName = gc.GiftName
        FROM GIFT_RESERVATIONS gr
        INNER JOIN GIFT_CAMPAIGNS gc ON gr.CampaignID = gc.CampaignID
        WHERE gr.ReservationID = @ReservationID
        
        IF @CurrentStatus = 'Received'
        BEGIN
            SET @Message = N'Quà đã được nhận trước đó rồi!'
            SET @Success = 0
            RETURN
        END
        
        IF @CurrentStatus != 'Confirmed'
        BEGIN
            SET @Message = N'Trạng thái quà không hợp lệ! (Hiện tại: ' + @CurrentStatus + N')'
            RETURN
        END
        
        -- 3. Cập nhật đã nhận quà
        UPDATE GIFT_RESERVATIONS 
        SET Status = 'Received',
            ReceivedAt = GETDATE(),
            ReceivedByStaffID = @StaffID
        WHERE ReservationID = @ReservationID
        
        SET @Success = 1
        SET @Message = N'Phát quà thành công: ' + @GiftName
        
    END TRY
    BEGIN CATCH
        SET @Success = 0
        SET @Message = N'Lỗi hệ thống: ' + ERROR_MESSAGE()
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ReleaseExpiredGiftReservations]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReleaseExpiredGiftReservations]
    @ReleasedCount INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON
    
    SET @ReleasedCount = 0
    
    BEGIN TRANSACTION
    
    BEGIN TRY
        -- 1. Tìm và đếm các reservation hết hạn
        DECLARE @ExpiredReservations TABLE (
            ReservationID INT,
            CampaignID INT
        )
        
        INSERT INTO @ExpiredReservations (ReservationID, CampaignID)
        SELECT ReservationID, CampaignID
        FROM GIFT_RESERVATIONS
        WHERE Status = 'Holding' AND HoldUntil < GETDATE()
        
        SET @ReleasedCount = @@ROWCOUNT
        
        IF @ReleasedCount = 0
        BEGIN
            COMMIT TRANSACTION
            RETURN
        END
        
        -- 2. Cập nhật trạng thái thành Expired
        UPDATE GIFT_RESERVATIONS 
        SET Status = 'Expired',
            CancelReason = N'Hết thời gian giữ chỗ (auto)'
        WHERE ReservationID IN (SELECT ReservationID FROM @ExpiredReservations)
        
        -- 3. Trả quà về kho cho từng campaign
        UPDATE gc
        SET gc.RemainingGifts = gc.RemainingGifts + expired.ExpiredCount,
            gc.HoldingGifts = gc.HoldingGifts - expired.ExpiredCount
        FROM GIFT_CAMPAIGNS gc
        INNER JOIN (
            SELECT CampaignID, COUNT(*) AS ExpiredCount
            FROM @ExpiredReservations
            GROUP BY CampaignID
        ) expired ON gc.CampaignID = expired.CampaignID
        
        COMMIT TRANSACTION
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION
            
        SET @ReleasedCount = -1  -- Báo lỗi
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ReserveGift]    Script Date: 02/01/2026 8:03:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReserveGift]
    @CampaignID INT,
    @UserID INT,
    @Success BIT OUTPUT,
    @Message NVARCHAR(500) OUTPUT,
    @ReservationID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON
    SET XACT_ABORT ON
    
    -- Khởi tạo output
    SET @Success = 0
    SET @Message = N''
    SET @ReservationID = 0
    
    DECLARE @RemainingGifts INT
    DECLARE @MaxPerUser INT
    DECLARE @HoldTimeout INT
    DECLARE @UserGiftCount INT
    DECLARE @IsActive BIT
    DECLARE @StartDate DATETIME
    DECLARE @EndDate DATETIME
    DECLARE @MovieID INT
    
    -- Sử dụng SERIALIZABLE để tránh Race Condition
    SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
    BEGIN TRANSACTION
    
    BEGIN TRY
        -- 1. Lấy thông tin chiến dịch (với LOCK để tránh đọc đồng thời)
        SELECT 
            @RemainingGifts = RemainingGifts,
            @MaxPerUser = MaxPerUser,
            @HoldTimeout = HoldTimeoutMinutes,
            @IsActive = IsActive,
            @StartDate = StartDate,
            @EndDate = EndDate,
            @MovieID = MovieID
        FROM GIFT_CAMPAIGNS WITH (UPDLOCK, HOLDLOCK)
        WHERE CampaignID = @CampaignID
        
        -- 2. Kiểm tra chiến dịch có tồn tại không
        IF @RemainingGifts IS NULL
        BEGIN
            SET @Message = N'Chiến dịch quà tặng không tồn tại!'
            ROLLBACK TRANSACTION
            RETURN
        END
        
        -- 3. Kiểm tra chiến dịch còn hoạt động không
        IF @IsActive = 0
        BEGIN
            SET @Message = N'Chiến dịch quà tặng đã kết thúc!'
            ROLLBACK TRANSACTION
            RETURN
        END
        
        -- 4. Kiểm tra thời gian chiến dịch
        IF GETDATE() < @StartDate
        BEGIN
            SET @Message = N'Chiến dịch quà tặng chưa bắt đầu!'
            ROLLBACK TRANSACTION
            RETURN
        END
        
        IF GETDATE() > @EndDate
        BEGIN
            SET @Message = N'Chiến dịch quà tặng đã hết hạn!'
            ROLLBACK TRANSACTION
            RETURN
        END
        
        -- 5. Kiểm tra còn quà không
        IF @RemainingGifts <= 0
        BEGIN
            SET @Message = N'Rất tiếc! Quà tặng đã hết. Bạn vẫn có thể mua vé bình thường.'
            ROLLBACK TRANSACTION
            RETURN
        END
        
        -- 6. Kiểm tra user đã có quà từ chiến dịch này chưa
        SELECT @UserGiftCount = COUNT(*)
        FROM GIFT_RESERVATIONS
        WHERE CampaignID = @CampaignID 
          AND UserID = @UserID 
          AND Status IN ('Holding', 'Confirmed', 'Received')
        
        IF @UserGiftCount >= @MaxPerUser
        BEGIN
            SET @Message = N'Bạn đã nhận đủ số quà cho phép từ chiến dịch này! (' 
                + CAST(@MaxPerUser AS NVARCHAR) + N' quà/người)'
            ROLLBACK TRANSACTION
            RETURN
        END
        
        -- 7. Tạo reservation mới
        INSERT INTO GIFT_RESERVATIONS (
            CampaignID, 
            UserID, 
            Status, 
            HoldUntil,
            CreatedAt
        )
        VALUES (
            @CampaignID, 
            @UserID, 
            'Holding', 
            DATEADD(MINUTE, @HoldTimeout, GETDATE()),
            GETDATE()
        )
        
        SET @ReservationID = SCOPE_IDENTITY()
        
        -- 8. Trừ số quà còn lại và tăng số quà đang giữ
        UPDATE GIFT_CAMPAIGNS 
        SET RemainingGifts = RemainingGifts - 1,
            HoldingGifts = HoldingGifts + 1
        WHERE CampaignID = @CampaignID
        
        -- 9. Thành công
        SET @Success = 1
        SET @Message = N'Đã giữ chỗ quà thành công! Vui lòng hoàn tất thanh toán trong ' 
            + CAST(@HoldTimeout AS NVARCHAR) + N' phút.'
        
        COMMIT TRANSACTION
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION
            
        SET @Success = 0
        SET @Message = N'Lỗi hệ thống: ' + ERROR_MESSAGE()
    END CATCH
END

GO
USE [master]
GO
