<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!-- Connection String - THAY TÊN SERVER CỦA BẠN -->
	<connectionStrings>
		<add name="MovieTicketDB"
             connectionString="Data Source=DESKTOP-OTUG1FS;Initial Catalog=MovieTicketDB;Integrated Security=True;TrustServerCertificate=True"
             providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>

	<!-- Cấu hình Email SMTP -->
	<appSettings>
		<add key="SmtpHost" value="smtp.gmail.com"/>
		<add key="SmtpPort" value="587"/>
		<add key="SmtpEmail" value="duylamasd1995@gmail.com"/>
		<add key="SmtpPassword" value="ivit zixg biir xhtb"/>
		<add key="SmtpDisplayName" value="Movie Ticket System"/>
		<add key="OtpExpiryMinutes" value="5"/>
	</appSettings>

</configuration>